<div class="container">
    <div class="intro"></div>
</div>
      <div class="register-photo">
        <div class="form-container">
            <div class="image-holder">
         
            </div>
            <%= form_tag sessions_path ,   :html => { :class => "article-form" } do  %>
                <h2 class="text-center"><strong>Log in.</strong></h2>
                <div class="form-group">
                  <%= text_field_tag :email, nil, placeholder: "Email", class: 'form-control' %>
                </div>
                <div class="form-group">
                <%= password_field_tag :password, nil,  placeholder: "Password", class: 'form-control' %>
                </div>
                <div >
                <%= submit_tag "Log in", class: 'btn btn-primary btn-block' %>
                </div>  
            <% end %>       
        </div>
    </div>
    <div class="features-clean"></div>
    <div></div>
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <section class="testimonials"></section>
    <section class="features" style="background-color:#010101;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
    <h2>Redefined Features</h2></div>
                <div class="col-md-6">
                    <div class="row icon-features">
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-user"></i>
                            <p>Easy to Make Profile</p>
                        </div>
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-piggy-bank"></i>
                            <p>Save Time </p>
                        </div>
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-thumbs-up"></i>
                            <p>Find the Right Job</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5>aceup.co © 2016</h5>
                </div>
                <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </footer>