<div class="container">
    <div class="intro"></div>
</div>
      <div class="register-photo">
        <div class="form-container">
            <div class="image-holder">
         
            </div>
            <%= form_tag sessions_path ,   :html => { :class => "article-form" } do  %>
                <h2 class="text-center"><strong>Log in.</strong></h2>
                <div class="form-group">
                  <%= text_field_tag :email, nil, placeholder: "Email", class: 'form-control' %>
                </div>
                <div class="form-group">
                <%= password_field_tag :password, nil,  placeholder: "Password", class: 'form-control' %>
                </div>
                <div >
                <%= submit_tag "Log in", class: 'btn btn-primary btn-block' %>
                </div>  
            <% end %>       
        </div>
    </div>
    <div class="features-clean"></div>
    <div></div>
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
   