<nav id="sidebar" class="jobs_sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <h3>FILTER</h3>
        <hr>
    </div>
    <%= form_tag seeker_path(@seeker), :method => 'get', :id => "seeker_filter" do %>
              <p>

                
              </p>


               <div class="sidebar-main">
                    <h3>Minimum Years of Experience:</h3>
                    <form>
                    <%= select_tag :filter_years, options_for_select(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']), { class: "form form-group form-control" } %>

                  <div>
                    

                  </div>

            		</br>
                    <h3>Sales Skills:</h3>
                      <%= select_tag :filter_skills, options_for_select([["Has drivers license", :driversLicence ], ["Has vehicle", :hasVehicle], ["Cold calling", :coldCall], ["Door to door", :doorToDoor], ["Customer Service", :custService], ["Account Management", :acctManagment], ["Negotiation", :negotiation],["Presenting", :presenting], ["Leadership", :leadership], ["Closing", :closing]]),{:multiple => true, class: "form-control multi-select"} %>
             
                    <h3>Minimum Pay:</h3>
                    
                        <select name="cars" class="form-control">
            			  <option value="volvo">Volvo</option>
            			  <option value="saab">Saab</option>
            			  <option value="fiat">Fiat</option>
            			  <option value="audi">Audi</option>
            			</select>
            		<br><br>
                    <%= submit_tag "Filter Results", :name => nil, class: "btn btn-default", id: "filter_button"%>
            		</form>
                </div>
    <% end %>
</nav>


 <script>
  $( function() {
      var sidebar = $( "#sidebar" );

      // sidebar.on('tap',function(){
      	// sidebar.on('click',function(){
      		// sidebar.on("click touchstart", function() {
      	$(document).on('click', sidebar, function() {
          sidebar.toggleClass("jobs_sidebar_expand"); 
          console.log("sidebar tapped");
      });
         
    });
 </script>