<div class="container content">



    <div class="job_display_desc col-md-12">  
        <div class="checkmark">
          <%= image_tag "location.png" %></a>
          <h3>We haven't made it to your area yet,</h3>
          <h3>but sit tight!</h3>
          <h3>Were almost there...</h3>
        </div>
    </div>


  <%= button_to "Return to home",root_path, :method => "get", class: "btn btn-default", id: "apply_button_apps_page" %>

</div>