<div class="projects-horizontal">
        <div class="container">
            <div class="intro"></div>
        </div>
    </div>
    <div class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="font-size:64px;">About Us</h2>
            </div>
            <h1 style="color:#000000;"><i class="glyphicon glyphicon-bullhorn" style="color:#000000;"></i> Our Story</h1>
            <p><strong>The idea for aceup came about when we were freshly graduated and just&nbsp;entering the job market. Coming from a school out of the province, we didn't have access to&nbsp;a local university-sponsored job board. All we could do was use existing job boards that did not allow us to easily stand out from other applicants. Our frustrations were compounded when we were faced with a majority of jobs that were irrelevant to our experiences and education.&nbsp;We thought there had to be a better way to make the connection between&nbsp;job hunters and&nbsp;employers. After learning about the high volume of unqualified applicants that employers typically&nbsp;receive, we quickly realized that there was an opportunity to improve the process.</strong>                </p>
            <h1 style="color:#000000;"><i class="fa fa-eye" style="color:#000000;"></i> Our Vision</h1>
            <p><strong>We envision aceup taking us to a world where matching prospective employees with companies is as straightforward as finding a well-ranked pizzeria on a search engine. In the age of data, we believe&nbsp;there is no justifiable reason why a job hunter must pour through hundreds of job postings to find the best matches. Conversely, there is no reason why an employer must receive hundreds of applications from those who are not yet able to do the job effectively.</strong>                </p>
            <h1 style="color:#000000;"><i class="fa fa-trophy" style="color:#000000;"></i> Our Goal</h1>
            <p><strong>Our goal is to become the #1 place that people come to when looking to both&nbsp;find a job, and&nbsp;fill a position within their company. In addition to this, our mission is add efficiency to the job market&nbsp;by giving both parties a clear vision of who their prospective counter-parties are, which will result in less unwelcome surprises on the job and discouraging employee turnover.&nbsp;</strong>                </p>
        </div>
    </div>
    <div></div>
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <section class="testimonials"></section>
    <section class="features" style="background-color:rgb(0,0,0);">
        <div class="container">
            <div class="row">
        </div>
    </section>