<div class="container-fluid">
	<h1>meet aceup.co</h1>

	<div class="row">
		<div class="hex hex-3">
		  	<div  class="inner">
		    	<img src="https://static.wixstatic.com/media/43c038_46980b2673994c40a3bd53eb1a863857~mv1.png/v1/fill/w_51,h_68,al_c/43c038_46980b2673994c40a3bd53eb1a863857~mv1.png">
	  		</div>

		  <div class="corner-1"></div>
		  <div class="corner-2"></div>
		</div>

		<div class="col-md-8">
			<h2>our story</h2>
			<p>The idea for aceup came about when we were freshly graduated and just entering the job market. Coming from a school out of the province, we didn't have access to a local university-sponsored job board. All we could do was use existing job boards that did not allow us to easily stand out from other applicants. Our frustrations were compounded when we were faced with a majority of jobs that were irrelevant to our experiences and education. We thought there had to be a better way to make the connection between job hunters and employers. After learning about the high volume of unqualified applicants that employers typically receive, we quickly realized that there was an opportunity to improve the process.</p>
		</div>
	</div>
	<div class="row">
		<div class="hex hex-3">
		  	<div  class="inner">
		    	<img src="https://static.wixstatic.com/media/43c038_1bcc6b8426394ed19a6841988541acf8~mv1.png/v1/fill/w_76,h_57,al_c/43c038_1bcc6b8426394ed19a6841988541acf8~mv1.png">
	  		</div>

		  <div class="corner-1"></div>
		  <div class="corner-2"></div>
		</div>
		<div class="col-md-8">
			<h2>our vision</h2>
			<p>We envision aceup taking us to a world where matching prospective employees with companies is as straightforward as finding a well-ranked pizzeria on Google. In the age of data, we believe there is no justifiable reason why a job hunter must pour through hundreds of job postings to find the best matches. Conversely, there is no reason why an employer must receive hundreds of applications from those who are not yet able to do the job effectively.</p>
		</div>
	</div>
	<div class="row">
		<div class="hex hex-3">
		  	<div  class="inner">
		    	<img src="https://static.wixstatic.com/media/43c038_e91a427c62cc40da9334b156816f9eff~mv1.png/v1/fill/w_81,h_70,al_c/43c038_e91a427c62cc40da9334b156816f9eff~mv1.png">
	  		</div>

		  <div class="corner-1"></div>
		  <div class="corner-2"></div>
		</div>
	
		<div class="col-md-8">
		<h2>our goal</h2>
		<p>Our goal is to become the #1 place that people come to when looking to both find a job, and fill a position within their company. In addition to this, our mission is add efficiency to the job market by giving both parties a clear vision of who their prospective counter-parties are, which will result in less unwelcome surprises on the job and discouraging employee turnover.</p>
		</div>
	</div>
</div>