<div class="projects-horizontal">
        <div class="container">
            <div class="intro"></div>
        </div>
    </div>
    <div class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Employers </h2>
                <p class="text-center" style="font-size:17.5px;">Find that new ace for your team</p>
            </div>
            <div class="row features">
                <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-list-alt icon"></i>
                    <h3 class="name">Create and manage multiple job postings</h3>
                    <p class="description"><strong>Qualifications: </strong>Input the required education, experience and other skills necessary to match with ideal candidates for every job posting you create.</p>
                </div>
                <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-file icon"></i>
                    <h3 class="name">Receive pre-qualified applications</h3>
                    <p class="description"><strong>Profile:</strong> Job hunters will create a profile that will contain their own unique experiences, education and skills that will match with your wants.</p>
                    <p class="description"><strong>Screening:</strong> Job hunters will only be able to see and apply for jobs that they are qualified for, thereby screening any unqualified applicants.</p>
                </div>
                <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-map-marker icon"></i>
                    <h3 class="name"> Find local Vancouver sales candidates</h3>
                    <p class="description"><strong>Local: </strong>Receive only local applicants to minimize the amount of unqualified candidates.</p>
                </div>
            </div>
        </div>
    </div>
    <blockquote>
        <p style="text-align:center;">Time to find a qualified sales applicant for your company</p>
        <footer style="text-align:center;"> </footer>
    </blockquote>
    <div style="align-content:center;display:flex;justify-content:center;">
        <div style="align-content:center;display:flex;justify-content:center;">
            <%= link_to("Create Profile", new_user_path(role: 'Employer'), :class => "btn btn-default", :style => "background-color:rgb(59,56,56);color:#ffffff;margin:0px;width:292px;height:75px;padding:20px;font-size:25px;border-color:#ffffff;text-align:center;align-content:center;box-shadow:5px 5px 5px #888888;justify-content:center;" )%>
        </div>
   
    </div>
    <div style="align-content:center;display:flex;justify-content:center;margin-top: 20px">
            <p>Returning user? <%= link_to "Log In", new_session_path %></p>
    </div>
    <section class="testimonials"></section>
    <section class="features" style="background-color:rgb(59,56,56);">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section>
  
