<div class="jumbotron hero_landing" style="margin-top:-40px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-pull-3 get-it landing_img">
                	<%= image_tag("aceupco_logo_TRANS.png") %>
                    <p style="width:349px;font-size:32px;height:17px;"> </p>
                    <p style="width:100%;font-size:32px;height:auto;font-weight:500;">the job board that optimizes the process</p>
                    <p style="font-size:32px;width:100%;height:auto;font-weight:500;">of connecting salespeople to employers</p>
                    <h1 style="margin-top:30px;"><strong>I am...</strong></h1>
                    <div class="landing_buttons">
                        <div class="landing_buttons_inner">
                        <%= link_to "Job Hunter", '/pages/seeker_landing', :method => "get", :class => "btn btn-lg", :id => "hunter_button"  %>
                        <%= link_to "Employer", '/pages/employer_landing', :method => "get", :class => "btn btn-lg", :id => "company_button"  %></div>
                        <div class="landing_buttons_inner">
                        <h2>Returning user? </h2><%= link_to "login", new_session_path, :method => "get", :class => "btn btn-lg", :id => "log_in_button"  %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>