<div class="jumbotron hero_landing" style="margin-top:-40px;">
        <div class="container">
            <div class="row">
                <div class=" get-it landing_img">
                	<%= image_tag("aceupco_logo_TRANS.png") %>
                  
                    <p id="sub_title_text" class="sub_title">welcome to the future</p>
                    <p class="sub_title">of job hunting.</p>
                   </div>
                <div class="row landing_icon_row">
                    <div class="col-md-4 col-sm-6 item landing_icon_container"><%= image_tag "HuntLand1.png", class: "icon landing_icon" %>
                        <h3 class="name">Mark off your qualifications.</h3>
                    </div>
                    <div class="col-md-4 col-sm-6 item landing_icon_container"><%= image_tag "HuntLand2.png", class: "icon landing_icon" %>
                        <h3 class="name">View only jobs custom to your experience.</h3>
                  
                    </div>
                    <div class="col-md-4 col-sm-6 item landing_icon_container"><%= image_tag "HuntLand3.png", class: "icon landing_icon" %>
                        <h3 class="name">Refine your list by personal preferences.</h3>
                    </div>
            </div>
                   
                
            </div>
        </div>
    </div>