<div class="jumbotron hero_landing" style="margin-top:-40px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-pull-3 get-it landing_img">
                	<%= image_tag("aceupco_logo_TRANS.png") %>
                  
                    <p class="sub_title_text" style="margin-top:80px;">Welcome to the future</p>
                    <p class="sub_title_text">of job hunting.</p>
                    <h1 style="margin-top:80px;"><strong>I am...</strong></h1>
                    <div class="landing_buttons">
                        <div class="landing_buttons_inner">
                        <%= link_to "Job Hunter", '/pages/seeker_landing', :method => "get", :class => "btn btn-lg", :id => "hunter_button"  %>
                        <%= link_to "Employer", '/pages/employer_landing', :method => "get", :class => "btn btn-lg", :id => "company_button"  %></div>
                        <div class="landing_buttons_inner">
                        <h2>Returning user? </h2><%= link_to "login", new_session_path, :method => "get", :class => "btn btn-lg", :id => "log_in_button"  %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>