<div class="container">



    <div class="job_display_desc col-md-12">  
        <div class="checkmark">
          <%= image_tag "check.png" %></a>
          <h2>Adios!</h2>
          <h3>You have successfully logged out.</h3>
        </div>
    </div>


  <%= button_to "Return to home",root_path, :method => "get", class: "btn btn-default", id: "apply_button_apps_page" %>

</div>