<div class="container content">



    <div class="job_display_desc col-md-12">  
        <div class="checkmark">
          <%= image_tag "location.png" %></a>
          <h3>We don't have jobs available in your area yet.</h3>
          <h3>Please check back soon!</h3>
        </div>
    </div>


  <%= button_to "Return to home",root_path, :method => "get", class: "btn btn-default", id: "apply_button_apps_page" %>

</div>