 <div class="projects-horizontal">
        <div class="container">
            <div class="intro"></div>
        </div>
    </div>
    <div class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Job Hunters</h2>
                <p class="text-center" style="font-size:17.5px;">Is there an ace up your sleeve? </p>
            </div>

            <div style="align-content:center;display:flex;justify-content:center;">
                <%= link_to("Create Profile", new_user_path(role: 'Seeker'), :class => "btn btn-default", :style => "background-color:rgb(59,56,56);color:#ffffff;margin:0px;width:292px;height:75px;padding:20px;font-size:25px;border-color:#ffffff;text-align:center;align-content:center;box-shadow:5px 5px 5px #888888;justify-content:center;" )%>
            </div>
            <div style="align-content:center;display:flex;justify-content:center;margin-top: 20px;margin-bottom:35px;">
                    <p>Returning user? <%= link_to "Log In", new_session_path %></p>
            </div>

             <section class="testimonials"></section>

            <div class="article-list" style="/*padding-bottom:10px;*//*border:groove;*/">
                <div class="container" style="/*border-top-color:black;*//*border-top-width:1000px;*/background-color:#ffffff;margin-bottom:-80px;">
                    <div class="intro">
                        <h2 class="text-center" style="height:auto;width:100%;font-size:58px;padding-bottom:40px;">The Only Dedicated Job Board for Sales</h2>
                    </div>
                    <div class="row articles">
                        <div class="col-md-4 col-sm-6 item"><a href="#"></a><i class="glyphicon glyphicon-user" style="width:auto;font-size:110px;color:rgb(7,7,7);"></i>
                            <h3 class="name"> </h3>
                            <h3 class="name" style="font-size:40px;">Create a profile in 90 seconds.  Simply input all relevant qualifications.</h3><a href="#" class="action"></a></div>
                        <div class="col-md-4 col-sm-6 item"><a href="#"></a><i class="glyphicon glyphicon-thumbs-up" style="width:auto;font-size:110px;color:rgb(0,0,0);"></i>
                            <h3 class="name"> </h3>
                            <h3 class="name" style="font-size:40px;">See only the jobs that are fit for you/View jobs custom to your experience. Views jobs custom to your experience. Receive a refined list of jobs consisting solely of positions that you are qualified for.</h3><a href="#" class="action"></a></div>
                        <div class="col-md-4 col-sm-6 item"><a href="#"></a><i class="glyphicon glyphicon-briefcase" style="font-size:110px;width:auto;/*height:102px;*//*margin:-24px;*/color:rgb(0,0,0);"></i>
                            <h3 class="name"> </h3>
                            <h3 class="name" style="font-size:40px;margin:20px 0px 10px;height:88px;">Refine your search by targeting the perfect employers/Target in on the perfect fit with filters. Remove all sales functions that don’t appeal to you.</h3><a href="#" class="action"></a></div>
                    </div>
                </div>
            </div>