 <div class="projects-horizontal">
        <div class="container">
            <div class="intro"></div>
        </div>
    </div>
    <div class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Job Hunters</h2>
                <p class="text-center" style="font-size:17.5px;">Is there an ace up your sleeve? </p>
            </div>

            <div style="align-content:center;display:flex;justify-content:center;">
                <%= link_to("Create Profile", new_user_path(role: 'Seeker'), :class => "btn btn-default", :style => "background-color:rgb(59,56,56);color:#ffffff;margin:0px;width:292px;height:75px;padding:20px;font-size:25px;border-color:#ffffff;text-align:center;align-content:center;box-shadow:5px 5px 5px #888888;justify-content:center;" )%>
            </div>
            <div style="align-content:center;display:flex;justify-content:center;margin-top: 20px;margin-bottom:35px;">
                    <p>Returning user? <%= link_to "Log In", new_session_path %></p>
            </div>

            <div class="row features">
                <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-time icon" style="color:rgb(0,0,0);"></i>
                    <h3 class="name">Create a profile in 5 minutes or less</h3>
                    <p class="description">Input your education, spoken languages and your sales experience in less than 5 minutes to find the next best position.</p>
                </div>
                <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-list-alt icon" style="color:rgb(0,0,0);"></i>
                    <h3 class="name">Access and view jobs you qualify for</h3>
                    <p class="description">Search for jobs that you are qualified for compared to other job boards that show over 5,000 results that do not match with your qualifications and wants.</p>
                </div>
                <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-map-marker icon" style="color:rgb(0,0,0);"></i>
                    <h3 class="name"> Find local Vancouver sales positions</h3>
                    <p class="description">We only show positions that are local to you. Employers are looking for their next best sales individual in Vancouver like you.</p>
                </div>
            </div>
        </div>
    </div>
    <blockquote>
        <p style="text-align:center;">Time to find a new sales job better suited for you</p>
        <footer style="text-align:center;"> </footer>
    </blockquote>
    
    <section class="testimonials"></section>
    <section class="features" style="background-color:rgb(0,0,0);">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
    <h2>Redefined Features</h2></div>
                <div class="col-md-6">
                    <div class="row icon-features">
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-user"></i>
                            <p>Easy to Make Profile</p>
                        </div>
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-piggy-bank"></i>
                            <p>Save Time </p>
                        </div>
                        <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-thumbs-up"></i>
                            <p>Find the Right Job</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5>aceup.co © 2016</h5>
                </div>
                <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </footer>