<div class="container content">



    <div class="job_display_desc col-md-12">  
        <div class="checkmark">
          <%= image_tag "jail.png" %></a>
          <h3>Your account has been suspended</h3>
          <h3>You cannot apply for jobs while suspended</h3>
      </br>
      </br>
      </br>
      </br>
          <h3>Contact the administrator to have your suspension removed.</h3>
        </div>
    </div>


  <%= button_to "Return to home",root_path, :method => "get", class: "btn btn-default", id: "apply_button_apps_page" %>

</div>