.chart {
	width: 40%; 
	float:left;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}

.chart h2{
	margin-left: auto !important;
	margin-right: auto !important;
}

.chart-wide {
	width: 80%; 
}

.admin_floater {
	width:45%; 
	float:left;
}

.admin_floater {
	width:45%; 
	float:left;
	font-size: 20px
}
.dash_table {
	font-size: 20px;
	text-align: left;
}

@media screen and (max-width: 700px) {
.admin_floater {
	width:90%; 
	float:left;
}


}