.chart {
	width: 40%; 
	float:left;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}

.chart h2{
	margin-left: auto !important;
	margin-right: auto !important;
}

.chart-wide {
	width: 80%; 
}