
.hero_landing {
  background-color: #fff;
  /*background-size:cover;*/
  border:none;
  // height: 90%;
}

#main_bg {
  height: 90vh;
}

.landing_img {
	width:100%;
	height:auto;
}

.landing_img img {
	min-width:700px;
	max-width:80%;
	height:auto;
	margin-top: 30px;
}

.landing_img btn-primary:active:hover {
  color:#ffffff;
  background-color:#1c981c;
  border-color:#000000;
}

.landing_img btn-primary:hover{
  background-color:#1c981c;
  border-color:#070707;
}

.landing_img  a {
  color:#158cba;
  text-decoration:none;
}

.landing_buttons {
	// margin-left:40vh;
	// float:right;
}

.landing_buttons h2 {
	display: inline-block;
}

.landing_buttons_inner {
	// float: right;
	// padding-right: 25px;
}

.sub_title {
  font-size: 45px !important;
  font-weight: 900 !important;
  color: #515151 !important;
  margin-right: -400px;
}
#sub_title_text {
  margin-top: -40px;
}
.tagline {
  text-align: center;
  margin-top: 20px;
}
.tagline p{
  font-size: 35px;
  color: #515151;
  font-weight: 400;
}
.landing_icon_row {
  margin: 0 10% ;
}
.landing_icon {
  height:55px;
  width:55px;
  margin-left: auto;
  margin-right: auto;
}

.landing_icon_container {
  text-align: center;
  padding: 0 6%;
  margin-top: 10%;
}

.landing_icon_container h3{
  // font-size: 55px;
  font-weight: 900 !important;
}

#hunter_button {
  color: #ffffff;
  background-color:#5d6466;
  border-color:#939799;
    padding: 9px 12px 7px;
    border-width: 0 1px 4px 1px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    font-size:21px;
    width:275px;
}

#hunter_button:hover {
	background-color:#28b62c;
}

#company_button {
  color:#ffffff;
  background-color:#060606;
  border-color:#939799;
    padding: 9px 12px 7px;
    border-width: 0 1px 4px 1px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    font-size:20px;
    width:275px;
}

#company_button:hover {
	background-color:#28b62c;
}

#log_in_button {
  color: black;
  background-color:#cccccc;
  border-color:#939799;
    padding: 9px 0px 7px;
    border-width: 0 1px 4px 1px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    font-size:21px;
    width:100px;
   margin-top: 0px;
   margin-right: 200px;
}

#log_in_button:hover {
	background-color:#28b62c;
}

////////////////// Seeker Profile Stuff //////////////////////

.job_header_img_landing {
  height: 110px;
  width: 100%;
  /* display: inline-block; */
  margin-left: auto;
  margin-right: auto;
  // margin-top: 10px;
  text-align: center;
  background-color: black;
  color: white;
  
}

.landing_form-container {
    // display: table;
    // max-width: 900px;
    // min-width: 200px;
    width: 800px !important;
    // float: left;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #d4d2d2;
    // margin-right: 25px;
     padding: 40px 60px;
     background-color: #ffffff;
     color: #505e6c;
  }
// form {
//     display: table-cell;
//     // width: 400px;
//     background-color: #ffffff;
//     padding: 40px 60px;
//     color: #505e6c;
//     float: left;
    // h2 {
    //   font-size: 24px;
    //   line-height: 1.5;
    //   margin-bottom: 30px;
    // }

.inputBgOpaque:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px white inset;
}
.login_fields {
  display: inline-block;
  width: calc(50% - 220px);
  height: 35px;
  margin: 7px 0;
  
}

#login_btn {
  display: inline-block;
  width: 100px;
  // margin-left: 5%;
  height: 35px;
 
   margin: 7px 0;
    background: #010101;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    text-shadow: none;
    outline: none !important;
    font-size: em;
    font-weight: bold;
    color: #fff;
}
#login_btn:hover {
  background: #186f1b;
}
.header_form {
  // display: inline-block;
  // float: left;
  // width: 70%;
  // padding: 7px 0;
  //  margin-left: 5%;
}
@media screen and (max-width: 1200px) {
	.landing_buttons {
		// margin-left:20vh;
	}
	#log_in_button {
		margin-right: 90px;
	}
	.landing_img img {
		min-width:70%;
		max-width:90%;
	}

}

@media screen and (max-width: 768px) {
  .login_fields {
    width: 90% ;
    // width: calc(80%);
  }
}

@media screen and (max-width: 1000px) {
    .sub_title {
    font-size: 40px !important;
  margin-right: -280px !important;
  }

  }
@media screen and (max-width: 700px) {
	#log_in_button {
		margin-right: 10px;
	}
	.landing_img img {
		min-width:95%;
		max-width:95%;
	}
  .landing_buttons_inner {
    padding-right: 0px;
    float: none;
  }
  .landing_buttons_inner a {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .landing_buttons {
  margin-left:auto;
  margin-right: auto;
  float:none;
  }
 .sub_title {
    font-size: 6vw !important;
  margin-right: -100px !important;
  }
  #sub_title_text {
  margin-top: -15px;
}
  .landing_icon_container {
  padding: 0 20%;
}


}