.header_landing_container {
	width: 100%;
	height: 210px;
	padding-top: 15px;
	padding-bottom: 20px;
	background-color:  rgb(216, 216, 216);
}

.header_landing_img_holder {
	float:left;
	height: 170px;
	width: 420px;
}

.header_landing_img_holder img{
	// height: 90%;
	width: 100%
}

.header_landing_links {
  float: left;
  margin-left: calc(50vw - 460px);
  margin-right: calc(50vw - 460px);
  text-align: center;
  padding-top: 110px;
  display: table;   /* Allow the centering to work */
}
.header_landing_links li{
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: rgb(57, 63, 68);
  font-weight: 200;
}

.header_landing_links li > a{
  text-decoration: none;
  color: rgb(57, 63, 68);
}

ul.horizontal-list {
	list-style: none;
	}
	ul.horizontal-list li {
		display: inline;
		border-left: 2px solid;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	ul.horizontal-list li:hover {
		text-shadow:  2px 2px 10px #186f1b;
  transition: all 500ms linear;
	}
#li_first { border-left: none; padding-left: 0; }

.header_landing_buttons{
	float: right;
	height: 170px;
	width: auto;
	padding-right: 50px;
}

.header_landing_btn{
	float: none;
	display: inline-block;
	  width: 150px;
	  // margin-left: 5%;
	  height: 45px;
 
   margin: 20px 0;
    background: #010101;
    border: none;
    border-radius: 50px;
    box-shadow: none;
    text-shadow: none;
    outline: none !important;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: #fff;

}
.header_landing_btn:hover {
  background: #186f1b;
  transition: all 500ms linear;
}

#header_landing_post_btn {
    background-color: rgba(57, 63, 68, 0.89);
}
#header_landing_post_btn:hover {
	background: #186f1b;
	transition: all 500ms linear;
}

@media screen and (max-width: 1050px) {

.header_landing_buttons{
	// float: left;
	height: 70px;
	width: 280px;
	padding: 10px;
	margin-left: calc(50vw - 370px);
  margin-right: calc(50vw - 370px);

}
.header_landing_btn{
	float: left;
	margin: 0 7.5px;
	width: 115px;
	}
.header_landing_links {
	// width: 40%;
  // margin-left: 25px;
  margin-left: calc(50vw - 360px);
  margin-right: calc(50vw - 360px);
  padding-top: 50px;
}

}

@media screen and (max-width: 700px) {
	.header_landing_img_holder{
		width: 45vw;
	}
	.header_landing_buttons{
		width: 50vw;
		margin: 0;	
		float: right;	
	}
	.header_landing_links {
		  padding-top: 50px;
		  width: 50vw;
		  margin: 0;
		  float: right;	
		}

}
    